.cards {
    border: 2px solid #cfd7dd;
    padding: 1rem;
}

.item {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    padding-bottom: 2rem;
    border-bottom: 1px solid #d8dee3;
}

.title a {
    color: #0968da;
    text-decoration: none;
    font-size: 1.4rem;
}

.title a:hover {
    text-decoration: underline;
}

.desc {
    line-height: 1.1rem;
}

.details span {
    background: #353535;
    color: #fff;
    margin-right: 1rem;
    padding: 0.5rem;
    border-radius: 2rem;
    font-size: 0.7rem;
}

.details .license {
    background: #0968da;
    color: #fff;
}

.favButton {
    margin-top: 1rem;
}

.favButton button {
    width: 7rem;
}

@media screen and (max-width: 770px) {
    .details span {
        display: block;
        width: fit-content;
        margin-bottom: 0.3rem;
    }
}
